@page "/words/{glossaryId:int}"
@using MultiDictionary.Shared.ViewModels
@using MultiDictionary.UI.Interfaces
@inject IWordService WordService

<ul class="word-list">
    @foreach (var word in words)
    {
        <li class="word-item">
            <div class="word-header">
                <span class="word-name">@word.WordName</span>
                <span class="word-theme">@word.Theme</span>
            </div>
            <div class="word-definition">
                @word.Definition
            </div>
            <div class="word-additional-info">
                @word.AdditionalInfo
            </div>
        </li>
    }
</ul>


@code {
    [Parameter]
    public int glossaryId { get; set; }
    
    private IEnumerable<WordViewModel>? words = new List<WordViewModel>();

    protected override async Task OnInitializedAsync()
    {
        words = await WordService.GetWordsByGlossaryAsync(glossaryId);
    }

    protected override async Task OnParametersSetAsync()
    {
        words = await WordService.GetWordsByGlossaryAsync(glossaryId);
    }
}