.page {
    background-color: #F4FBF8;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    color: #324B47;
    background-color: #F4FBF8;
}

.content {
    padding-top: 1.1rem;
}

.sidebar {
    background: #CCE8E2;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3) !important;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.top-row {
    background-color: #4A635F;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 10px 15px 15px 15px;
    border-radius: 25px 25px 25px 25px;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .content {
        margin-left: 250px;
    }

    .sidebar {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto; /*make sidebar scrollable*/
    }

    .top-row {
        position: relative;
        top: 0;
        z-index: 1000;
        margin-left: 265px;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
