.navbar-brand {
    height: 3.5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 18px 0px 0px 10px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
}

.nav-menu {
    background: #006A61;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) !important;
    cursor: default;
}

.nav-item {
    font-size: 1rem;
    text-decoration: none; /* Removes the default underline */
    color: #FFFFFF;
    display: block; /* Ensures consistent spacing */
    padding: 16px 0px 16px 10px;
    margin: 0;
    cursor: pointer;
}

    .nav-item.active {
        background-color: #ff6a00 !important;
        color: white !important;
    }

    .nav-item:hover {
        background-color: #ff6a00; /* Changes background color */
        color: white; /* Changes text color */
        transition: 0.3s ease-in-out; /* Smooth transition effect */
    }


    .nav-item.glossaries {
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3) !important; /*inner shadow*/
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

ul.glossary-list {
    list-style-type: none;
    font-size: 0.9rem;
    color: #FFFFFF;
    background-color: #005049;
    margin: 0;
    padding: 4px 0px 16px 32px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2),
                           inset 0px -1px 3px rgba(0, 0, 0, 0.2);
}

    ul.glossary-list li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
