.navbar-brand {
    height: 3.5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 18px 0px 0px 10px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
}

.nav-menu {
    background: #006A61;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) !important;
    cursor: default;
}

.nav-item {
    font-size: 1rem;
    text-decoration: none; /* Removes the default underline */
    color: #FFFFFF;
    display: block; /* Ensures consistent spacing */
    padding: 16px 0px 16px 10px;
    margin: 0;
    cursor: pointer;
}

    .nav-item:hover {
        background-color: #005D55;
        color: white;
        transition: 0.3s ease-in-out;
    }


    .nav-item.glossaries {
        display: flex;
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3) !important; /*inner shadow*/
        justify-content: space-between; /* Pushes icon to the right */
        align-items: center; /* Centers icon vertically */
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

ul.glossary-list {
    list-style-type: none;
    font-size: 0.9rem;
    color: #FFFFFF;
    background-color: #005049;
    margin: 0;
    padding: 4px 0px 16px 32px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px -1px 3px rgba(0, 0, 0, 0.2);
}

    ul.glossary-list > .item {
        display: flex;
        padding: 15px 0px 15px 2px;
        justify-content: space-between; /* Pushes icon to the right */
        align-items: center; /* Centers icon vertically */
        cursor: pointer;
    }

        ul.glossary-list > .item:hover {
            background-color: #00443D;
            transition: 0.3s ease-in-out;
        }

    ul.glossary-list > .item > .name{
        text-align: left;
        margin-bottom: 0px;
    }


        @media (min-width: 641px) {
            .navbar-toggler {
                display: none;
            }

            .collapse {
                /* Never collapse the sidebar for wide screens */
                display: block;
            }

            .nav-scrollable {
                /* Allow sidebar to scroll for tall menus */
                height: calc(100vh - 3.5rem);
                overflow-y: auto;
            }
        }

        i {
    font-size: 14px; /* Sets icon size */
    display: inline-block;
    visibility: visible;
    margin-right: 15px;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
}

I:hover {
    color: #C6C7C5;
}

.modal-overlay {
    position: fixed !important; /* Escape relative parent */
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100vw !important; /* Full viewport width */
    height: 100vh !important; /* Full viewport height */
    background: rgba(0, 0, 0, 0.5);
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important; /* Ensure it sits on top */
}
.modal {
    background: white !important;
    width: 300px !important;
    height: auto !important;
    padding: 20px !important;
    border-radius: 5px;
    z-index: 10000 !important; /* Ensure it's above everything */
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

